@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Light'), local('ComicNeue-Light'),
		url('/fonts/comic-neue/ComicNeue-Light.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Italic'), local('ComicNeue-Italic'),
		url('/fonts/comic-neue/ComicNeue-Italic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
		url('/fonts/comic-neue/ComicNeue-Bold.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Bold Italic'), local('ComicNeue-BoldItalic'),
		url('/fonts/comic-neue/ComicNeue-BoldItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Light Italic'), local('ComicNeue-LightItalic'),
		url('/fonts/comic-neue/ComicNeue-LightItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
		url('/fonts/comic-neue/ComicNeue-Regular.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Bold'), local('ComicNeueAngular-Bold'),
		url('/fonts/comic-neue/ComicNeueAngular-Bold.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Italic'), local('ComicNeueAngular-Italic'),
		url('/fonts/comic-neue/ComicNeueAngular-Italic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Bold Italic'), local('ComicNeueAngular-BoldItalic'),
		url('/fonts/comic-neue/ComicNeueAngular-BoldItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Light Italic'), local('ComicNeueAngular-LightItalic'),
		url('/fonts/comic-neue/ComicNeueAngular-LightItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Regular'), local('ComicNeueAngular-Regular'),
		url('/fonts/comic-neue/ComicNeueAngular-Regular.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Light'), local('ComicNeueAngular-Light'),
		url('/fonts/comic-neue/ComicNeueAngular-Light.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('/fonts/comic-mono/comic-mono-latin-400-normal.woff2') format('woff2'),
	url('/fonts/comic-mono/comic-mono-latin-400-normal.woff') format('woff');
}
@font-face {
	font-family: 'Comic Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('/fonts/comic-mono/comic-mono-latin-700-normal.woff2') format('woff2'),
	url('/fonts/comic-mono/comic-mono-latin-700-normal.woff') format('woff');
}

@property --c-paper{
	syntax: "<color>";
	inherits: true;
	initial-value: #fff;
}
@property --c-ink{
	syntax: "<color>";
	inherits: true;
	initial-value: #000;
}

:root{
	--c-highlight-paper: #69f;
	--c-highlight-ink: #fff;
	--c-ink: #000;
	--c-paper: #fff;
	--c-background-fallback:#7effd4;
	--c-link-paper: silver;
	--c-link-border: buttonface;
	--c-link-ink: black;
	--ff-sans-serif: 'Comic Neue Angular',
		sans-serif;
	--ff-handwritten: 'Comic Neue',
		'Comic Sans MS',
		'Segoe Print',
		'Bradley Hand',
		Chilanka,
		TSCu_Comic,
		casual,
		cursive;
	--ff-mono: 'Comic Mono',
		Consolas,
		Monaco,
		'Andale Mono',
		'Ubuntu Mono',
		monospace;
		--bg-img: url("/img/memphis-design.svg")
}

html {
	font-size: 1.25rem;
}

body {
	font-family: var(--ff-handwritten);
	margin: 0;
	padding: 0;

	line-height: 1.5;
	background: var(--c-background-fallback) 0 0/400px 400px var(--bg-img);
}

@media (prefers-reduced-motion) {
	body {
		background: var(--c-background-fallback) 0 0/400px 400px var(--bg-img);
	}
}

@media screen and (max-width: 768px) {
	body {
		background: var(--c-background-fallback) 0 0/400px 400px var(--bg-img);
	}
}

body:has(.cassidoo-brain){
	--bg-img: url("/img/cassidoo-brain.png");
}

.sans-serif {
	font-family: var(--ff-sans-serif);
}

.layout {
	--gap: clamp(1rem, 6vw, 3rem);
	--full: minmax(var(--gap), 1fr);
	--content: min(60ch, 100% - var(--gap) * 2);
	--popout: minmax(0, 2rem);
	--feature: minmax(0, 5rem);

	display: grid;
	grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}
.layout > * {
	grid-column: full;
}
.popout {
	grid-column: popout;
}
.feature {
	grid-column: feature;
}
.full {
	grid-column: full;
}

main {
	grid-column: full;
	display:grid;
	grid-template-columns: subgrid;
	--main-border: 0.4rem ridge var(--c-highlight-paper);
	--main-border-radius: 0.5rem;
}
main > *:not(.popout,.full, .feature, blockquote,code,pre,iframe) {
	grid-column: content;
	margin: 0;
	padding-inline: 1rem;
	padding-block-end: 1rem;
	background-color: var(--c-paper);
	border-inline: var(--main-border);
}

main > :is(.list, ul, ol, dl) {
	padding-inline-start: 3.5rem;
}

main > *:first-child,
main > :where(.popout,.full, .feature, blockquote,code,pre,iframe)+*:not(.popout,.full, .feature, blockquote,code,pre,iframe){
	margin-block-start: 0.5rem;
	background-color: var(--c-paper);
	padding-block: 0.25rem;
	border-start-start-radius:var(--main-border-radius);
	border-start-end-radius:var(--main-border-radius);
	border-block-start: var(--main-border);
}
main > *:last-child,
main > *:has(+ :is(.popout,.full, .feature, blockquote,code,pre,iframe)),
main > *:has(+ :is(h2,h3,h4,h5,h6) + pre[class*=language-])
{
	border-end-start-radius:var(--main-border-radius);
	border-end-end-radius:var(--main-border-radius);
	border-block-end: var(--main-border);
	margin-block-end: 0.25rem;
}
iframe{
	grid-column: feature;
	width: 100%;
	background-color: var(--c-paper);

	&:not(.utterances-frame){
		min-height: 500px;
	}
}

.header,.footer {
	grid-column: content;
	text-align: center;
	margin: 1rem 0;
	border-radius: 0.5rem;
	background-color: var(--c-highlight-paper);
	color: var(--c-highlight-ink);
	padding: 0 0.5rem;
	border: 0.4rem ridge var(--c-highlight-ink);
}

.webrings{

	--br-outer: 0.5rem;
	--br-inner: 0.3rem;

	grid-column: content;
	display:grid;
	grid-auto-flow: row;
	row-gap: 0.5rem;
	text-align: center;
	margin: 0.5rem 0;
	border-radius: var(--br-outer);
	background-color: var(--c-highlight-paper);
	color: var(--c-highlight-ink);
	padding: 0.5rem;
	border: 0.4rem ridge var(--c-highlight-ink);

	.webring{
		--c-border: rgb(255, 103, 255);
		border-radius: var(--br-outer);
		border: 0.2rem outset var(--c-border);
		background-color: var(--c-paper);
		color: var(--c-ink);

		.links{
			display:flex;
			flex-flow: column nowrap;

			>*:last-child{
				border-end-start-radius: var(--br-inner);
				border-end-end-radius: var(--br-inner);
			}

			@media screen and (min-width: 480px){
				flex-flow: row nowrap;
				>*:first-child{
					border-end-start-radius: var(--br-inner);
				}
				>*:last-child{
					border-end-start-radius:0;
				}

			}


		}



		& >*:first-child{
			border-start-start-radius: var(--br-inner);
			border-start-end-radius: var(--br-inner);
		}

		p,a{
			border: 0.2rem inset var(--c-border);
			padding: 0.1em;
			margin:0;
			flex:1;
		}
	}
}


@media screen and (min-width: 480px){
	.header,.footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4rem;
		padding: 0 1rem;
	}
}

main a:is(:link,:visited){
	font-weight: bolder;
	border: 0.2rem dotted transparent;
	color: var(--c-link-ink);
	transition: border-color 0.2s linear;
}

@keyframes border-whoosh{
	0%, 100%{
		border-color: var(--c-link-border);
		border-block-start-color: var(--c-highlight-paper);
	}
	10%{
		border-color: var(--c-link-border);
		border-inline-end-color: var(--c-highlight-paper);
	}
	50%{
		border-color: var(--c-link-border);
		border-block-end-color: var(--c-highlight-paper);
	}
	60%{
		border-color: var(--c-link-border);
		border-inline-start-color: var(--c-highlight-paper);
	}
}


main a:is(:focus-visible, :hover){
	border-color: var(--c-highlight-paper);
}
@media (prefers-reduced-motion: no-preference){
	main a:is(:focus-visible, :hover){
		transition: none;
		animation: 0.75s linear border-whoosh infinite;
	}
}
main a:active{
	border-style: inset;
}

img {
	max-width: 100%;
}

code {
	background: var(--c-paper);
	color: var(--c-ink);
	font-family: var(--ff-mono);
	padding-inline: 0.1rem;
}

main > pre[class*=language-]{
	grid-column: feature;
	border-radius: var(--main-border-radius);
	border: var(--main-border);
	margin-block-start: 0;
}

:root main > :is(h2,h3,h4,h5,h6):has(+ pre[class*=language-]){
	grid-column: feature;
	background-color: #2d2d2d;
	color: #ccc;
	margin-block-end: 0;
	margin-block-start: 0.5rem;
	border-block-end: 0;
	border-radius: 0;
	border-block-start: var(--main-border);
	border-start-start-radius: var(--main-border-radius);
	border-start-end-radius: var(--main-border-radius);
}
:root main > :is(h2,h3,h4,h5,h6)+ pre[class*=language-]{
	border-start-start-radius: 0;
	border-start-end-radius: 0;
	border-block-start: 0;
}

:root:root:root :is(code[class*=language-],
pre[class*=language-]) {
	font-family: var(--ff-mono);
	white-space: pre-wrap;
	overflow: auto;
	word-break: break-word
}

.nav__link:not(:first-child) {
	margin-left: 1rem;
	color: var(--c-highlight-ink);
	text-decoration: none;
}

.nav__link.home {
	margin-left: 0;
}

.nav__link:hover,
.nav__link:visited,
.nav__link:active,
.nav__link:focus {
	color: var(--c-highlight-ink);
}

.other {
	background-color: var(--c-paper);
	padding: 0.25rem 1rem;
	border-radius: 0.5rem;
	border: 0.4rem ridge var(--c-highlight-paper);
}

.title {
	font-size: 2em;
	margin: 0.25em 0 0;
}
hr {
	border-top: 0.1rem dotted var(--c-highlight-paper);
	margin: 1rem 0;
}

blockquote{
	grid-column: popout;
	--c-inset-paper: var(--c-highlight-paper);
	--c-inset-border: color-mix(in srgb, var(--c-highlight-paper) 80%, var(--c-ink));
	--c-inset-ink: var(--c-highlight-ink);
	border: 0.3rem inset var(--c-inset-border);
	background-color: var(--c-inset-paper);
	color: var(--c-inset-ink);
	font-size: 1.3rem;
	padding-inline: 2ch;
	margin-inline: 0;
}

aside p{
	background-color: lightskyblue;
	color: black;
	border-radius: 0.5rem;
	border: 3px ridge dodgerblue;
	padding: 0.5rem;
}
