@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Light'), local('ComicNeue-Light'),
		url('/fonts/comic-neue/ComicNeue-Light.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Italic'), local('ComicNeue-Italic'),
		url('/fonts/comic-neue/ComicNeue-Italic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
		url('/fonts/comic-neue/ComicNeue-Bold.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Bold Italic'), local('ComicNeue-BoldItalic'),
		url('/fonts/comic-neue/ComicNeue-BoldItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Light Italic'), local('ComicNeue-LightItalic'),
		url('/fonts/comic-neue/ComicNeue-LightItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
		url('/fonts/comic-neue/ComicNeue-Regular.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeue-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Bold'), local('ComicNeueAngular-Bold'),
		url('/fonts/comic-neue/ComicNeueAngular-Bold.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Italic'), local('ComicNeueAngular-Italic'),
		url('/fonts/comic-neue/ComicNeueAngular-Italic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Bold Italic'), local('ComicNeueAngular-BoldItalic'),
		url('/fonts/comic-neue/ComicNeueAngular-BoldItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Light Italic'), local('ComicNeueAngular-LightItalic'),
		url('/fonts/comic-neue/ComicNeueAngular-LightItalic.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Regular'), local('ComicNeueAngular-Regular'),
		url('/fonts/comic-neue/ComicNeueAngular-Regular.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue Angular';
	src: local('Comic Neue Angular Light'), local('ComicNeueAngular-Light'),
		url('/fonts/comic-neue/ComicNeueAngular-Light.woff2') format('woff2'),
		url('/fonts/comic-neue/ComicNeueAngular-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comic Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('/fonts/comic-mono/comic-mono-latin-400-normal.woff2') format('woff2'),
	url('/fonts/comic-mono/comic-mono-latin-400-normal.woff') format('woff');
}
@font-face {
	font-family: 'Comic Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('/fonts/comic-mono/comic-mono-latin-700-normal.woff2') format('woff2'),
	url('/fonts/comic-mono/comic-mono-latin-700-normal.woff') format('woff');
}

@property --c-paper{
	syntax: "<color>";
	inherits: true;
	initial-value: #fff;
}
@property --c-ink{
	syntax: "<color>";
	inherits: true;
	initial-value: #000;
}

:root{
	--c-highlight-paper: #69f;
	--c-highlight-ink: #fff;
	--c-ink: #000;
	--c-paper: #fff;
	--c-background-fallback:#7effd4;
	--c-link-paper: silver;
	--c-link-border: buttonface;
	--c-link-ink: black;
	--ff-sans-serif: 'Comic Neue Angular',
		sans-serif;
	--ff-handwritten: 'Comic Neue',
		'Comic Sans MS',
		'Segoe Print',
		'Bradley Hand',
		Chilanka,
		TSCu_Comic,
		casual,
		cursive;
	--ff-mono: 'Comic Mono',
		Consolas,
		Monaco,
		'Andale Mono',
		'Ubuntu Mono',
		monospace;
		--bg-img: url("/img/memphis-design.svg")
}

html {
	font-size: 1.25rem;
}

body {
	font-family: var(--ff-handwritten);
	margin: 0;
	padding: 0;

	line-height: 1.5;
	background: var(--c-background-fallback) 0 0/400px 400px var(--bg-img);
}

@media (prefers-reduced-motion) {
	body {
		background: var(--c-background-fallback) 0 0/400px 400px var(--bg-img);
	}
}

@media screen and (max-width: 768px) {
	body {
		background: var(--c-background-fallback) 0 0/400px 400px var(--bg-img);
	}
}

body:has(.cassidoo-brain){
	--bg-img: url("/img/cassidoo-brain.png");
}

.sans-serif {
	font-family: var(--ff-sans-serif);
}

.layout {
	max-width: 80ch;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.header,.footer {
	text-align: center;
	margin: 1rem 0;
	border-radius: 0.5rem;
	background-color: var(--c-highlight-paper);
	color: var(--c-highlight-ink);
	padding: 0 0.5rem;
	border: 0.4rem ridge var(--c-highlight-ink);
}

@media screen and (min-width: 480px){
	.header,.footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4rem;
		padding: 0 1rem;
	}
}

main a:is(:link,:visited){
	font-weight: bolder;
	border: 0.2rem dotted transparent;
	color: var(--c-link-ink);
	transition: border-color 0.2s linear;
}

@keyframes border-whoosh{
	0%, 100%{
		border-color: var(--c-link-border);
		border-block-start-color: var(--c-highlight-paper);
	}
	10%{
		border-color: var(--c-link-border);
		border-inline-end-color: var(--c-highlight-paper);
	}
	50%{
		border-color: var(--c-link-border);
		border-block-end-color: var(--c-highlight-paper);
	}
	60%{
		border-color: var(--c-link-border);
		border-inline-start-color: var(--c-highlight-paper);
	}
}


main a:is(:focus-visible, :hover){
	border-color: var(--c-highlight-paper);
}
@media (prefers-reduced-motion: no-preference){
	main a:is(:focus-visible, :hover){
		transition: none;
		animation: 0.75s linear border-whoosh infinite;
	}
}
main a:active{
	border-style: inset;
}

img {
	max-width: 100%;
}

code {
	background: var(--c-paper);
	color: var(--c-ink);
	font-family: var(--ff-mono);
	padding-inline: 0.1rem;
}

:root:root:root :is(code[class*=language-],
pre[class*=language-]) {
	font-family: var(--ff-mono);
}

.nav__link:not(:first-child) {
	margin-left: 1rem;
	color: var(--c-highlight-ink);
	text-decoration: none;
}

.nav__link.home {
	margin-left: 0;
}

.nav__link:hover,
.nav__link:visited,
.nav__link:active,
.nav__link:focus {
	color: var(--c-highlight-ink);
}

.content {
	background-color: var(--c-paper);
	padding: 0.25rem 1rem;
	border-radius: 0.5rem;
	border: 0.4rem ridge var(--c-highlight-paper);
}

.title {
	font-size: 2em;
	margin: 0.25em 0 0;
}
hr {
	border-top: 0.1rem dotted var(--c-highlight-paper);
	margin: 1rem 0;
}

blockquote{
	--c-inset-paper: var(--c-highlight-paper);
	--c-inset-border: color-mix(in srgb, var(--c-highlight-paper) 80%, var(--c-ink));
	--c-inset-ink: var(--c-highlight-ink);
	border: 0.3rem inset var(--c-inset-border);
	background-color: var(--c-inset-paper);
	color: var(--c-inset-ink);
	font-size: 1.3rem;
	padding-inline: 2ch;
	margin-inline: 0;
}
