---
const today = new Date();
---

<aside class="webrings">
	<div class="webring">
		<p>CSS JOY Webring</p>
		<div class="links">
		  <a href="https://webri.ng/webring/cssjoy/previous?via=https://alex.party">Previous Site</a>
		  <a href="https://webri.ng/webring/cssjoy/random?via=https://alex.party">Random Site</a>
		  <a href="https://webri.ng/webring/cssjoy/next?via=https://alex.party">Next Site</a>
		</div>
	  </div>
</aside>
<footer class="footer">
	&copy; {today.getFullYear()} Alex Riviere. All rights reserved. (I'm so sorry about the number of fonts.)
</footer>
