---

---
<aside>
<p>
  This blog post is part of an ongoing series of blog posts based on a talk I have been giving since 2023 called
  <strong>"Fresh Hot CSS Features!"</strong> and over time, newer and newer CSS features come out and I cannot
  include all of them in the time allotted so they get moved past the end of the talk. I always have extra content at the
  end but usually there's just not enough time to get to it. This series is all of the things that have been retired from the talk, too far past the end slide for me to actually be
  able to get to them today.
</p>
</aside>
