---

---
<aside>
<p>
  This blog post is part of an ongoing series of blog posts based on a talk I have been giving since January 2023 called
  <a href="/posts/fresh-hot-css"><strong>"Fresh Hot CSS Features!"</strong></a>. This series is all of the things that
  have been retired from the talk, due to time constraints and newer features.
</p>
</aside>
