---
import DefaultLayout from './DefaultLayout.astro';
import {type MarkdownInstance} from "astro";

export interface Props extends MarkdownInstance<Record<string, any>>{}

const {
	content: { title, pubDate, updatedDate, errorPage },
url, compiledContent
} = Astro.props;
---

<DefaultLayout title={title} description={compiledContent()}>
      <section>
			<article>
        <h2><a href={ errorPage ? "/" : url}>{ title }</a></h2>
        <div class="sans-serif">
				<slot />
        </div>
			</article>
      </section>
</DefaultLayout>
